.add-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.add-task-container input {
  width: 40%;
  height: 40px;
  border: 0;
  padding: 10px;
  border-bottom: 3px solid darkblue;
}

.add-task-container input[placeholder] {
  font-size: 25px;
}

.add-task-container button {
  margin-left: 20px;
  padding: 10px 30px;
  font-size: 20px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
}

/* @media (min-width: 500px) {
  .add-task-container button {
    padding: 5px 15px;
    border-radius: 5px;
    border: 0;
  }
} */
